<div class="container-fluid micontenedorVision">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center miObjtivos">OBJETIVOS GENERALES DE LA INSTITUCIÓN</h3>
        </div>
        <div class="col-md-6">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 text-center miTitulo">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="text-center tituloV">Vision</h4>
                  </button>
                </h5>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0 text-center miTitulo2">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="text-center tituloV">Mision</h4>
                  </button>
                </h5>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="heading3">
                <h5 class="mb-0 text-center miTitulo3">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      <h4 class="text-center tituloV">Historia</h4>
                  </button>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body text-justify">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  <br>
                  <img src="../../../../assets/img/Vision.jpg" class="imgVision" width="185" height="185" alt="imgVision">
                </div>
              </div>
            </div>
           
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body text-justify">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                <br>
                <img src="../../../../assets/img/Mision.png" class="imgMision" width="170" height="170" alt="imgMision">
              </div>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
              <div class="card-body text-justify">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                <br>
                <img src="../../../../assets/img/historiaSimonR.jpg" class="imgMisionSimon" height="170" alt="imgMision">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>