.tituloV{
    color : #f1f1f1;
}

.miObjtivos{
    margin-top: 1em;
    margin-bottom: 1em;
}

.miTitulo{
    background: rgba(8, 128, 34, 0.815);
}

.miTitulo2{
    background: rgba(2, 47, 116, 0.815);
}

.miTitulo3{
    background: rgba(247, 223, 9, 0.959);
}

.imgMisionSimon{
    width: 100%;
}