<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-3">
                <br>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h5>WebSite</h5></li>
                  <li class="list-group-item"><a href="">Dapibus ac facilisis in</a></li>
                  <li class="list-group-item"><a href="">Dapibus ac facilisis in</a></li>
                  <li class="list-group-item"><a href="">Porta ac consectetur ac</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5>SECURITY & BRAND</h5></li>
                <li class="list-group-item"><a href="">Privacy Statement</a></li>
                <li class="list-group-item"><a href="">Report Copyright Infringement</a></li>
                <li class="list-group-item"><a href="">Trademark Notice</a></li>
              </ul>
            </div>
            
            <div class="col-md-3">
                <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5>GET IN TOUCH</h5></li>
                <li class="list-group-item"><a href="">Contact FM</a></li>
                <li class="list-group-item"><a href="">Maps & Directions</a></li>
                <li class="list-group-item"><a href="">Social Media</a></li>
              </ul> 
            </div>

            <div class="col-md-3">
                <br>
                <a href="http://www.facebook.com"><img src="../../../assets/img/facebook.png" alt="face" width="45" height="45" class="iconos"></a>
                <a href="http://www.twitter.com"><img src="../../../assets/img/twiter.png" alt="twiter" width="45" height="45" class="iconos"></a>
                <a href="http://www.instagram.com"><img src="../../../assets/img/instagram.png" alt="instagram" width="45" height="45" class="iconos"></a>
                <a href="http://www.google.com"><img src="../../../assets/img/google.jpg" alt="google" width="45" height="45" class="iconos"></a>
                <a href="http://www.youtube.com"><img src="../../../assets/img/youtube.png" alt="youtube" width="45" height="45" class="iconos"></a>
                <a href="">Simon Rodriguez..</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>