<div class="container micontenedor1">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <h2 class="text-center">Programas</h2>
      <br><br>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <a routerLink="/vistas/mision" ><img class="card-img-top" height="270" src="../../../assets/img/misión-visión-valores.jpg" alt="Card image cap"></a>
        <div class="card-body">
            <div class="card-header text-center">
                Vision Mision y Valores
            </div>
          <p class="card-text text-justify">Nuestra meta es formar a individuos capasitados para la labores del dia  dia sin perder su rumbo...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <a routerLink="/vistas/institucion" ><img class="card-img-top" height="270" src="../../../assets/img/perfilLiceo.jpg" alt="Card image cap"></a>
        <div class="card-body">
            <div class="card-header text-center">
                Perfil de la Institucion
              </div>
          <p class="card-text text-justify">Nuestra meta es formar a individuos capasitados para la labores del dia  dia sin perder su rumbo...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <a routerLink="/vistas/reglamentos" ><img class="card-img-top" height="270" src="../../../assets/img/reglamentoInterno.png" alt="Card image cap"></a>
          <div class="card-body">
              <div class="card-header text-center">
                  Reglamento Interno
                </div>
            <p class="card-text text-justify">Nuestra meta es formar a individuos capasitados para la labores del dia  dia sin perder su rumbo...</p>
          </div>
        </div>
    </div>

  </div>
</div>

<div class="container-fluid micontenedor2">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center titulonoticia">Noticias</h3>
    </div>
    <div class="col-md-12">

      <div class="container">
        <div class="row">
          <div class="col-md-4">

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="../../../assets/img/noticia1.jpg" alt="noticia1" width="70" height="70">
                  <h5 class="card-title">Estudiantes en Egipto</h5>
                  
                  <p class="card-text">Estudiantes hacen descubrimiento importante en zona externa de una piramide...</p>
                  <a href="#" class="card-link">mas Info.</a>
                </div>
              </div>

          </div>

          <div class="col-md-4">

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="../../../assets/img/noticia2.jpg" alt="noticia2" width="70" height="70">
                  <h5 class="card-title">Estudiantes en Roma</h5>
                  
                  <p class="card-text">Estudiantes hacen y su escurcion a Roma como premio por primer lugar...</p>
                  <a href="#" class="card-link">mas Info.</a>
                </div>
              </div>
              
          </div>

          <div class="col-md-4">

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="../../../assets/img/noticia3.jpg" alt="notica3" width="70" height="70">
                  <h5 class="card-title">Estudiantes y El Area51</h5>
                  
                  <p class="card-text">Estudiantes hacen descubrimiento importante en zona externa de una Area51...</p>
                  <a href="#" class="card-link">mas Info.</a>
                </div>
              </div>
              
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="container-fluid micontenedor3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe src="https://www.youtube.com/embed/CRa1atZXt8Q" class="miVideo">
          
        </iframe>
      </div>
    </div>
  </div>
</div>